BASE_URL=/senac/projeto-senac
BASE_PATH=/senac/projeto-senac

URL_PROD=https://www.projetosenac.com.br
URL_HOMOLOG=http://localhost/senac/projeto-senac
URL_ADMIN=http://localhost/senac/projeto-senac/admin
URL_ERROR=http://localhost/senac/projeto-senac/error

CONFIG_SESSION_PATH=/../../storage/sessions

#APP_URL=http://localhost/senac/projeto-senac
APP_URL=http://localhost/senac/projeto-senac

APP_TIMEZONE=America/Sao_Paulo

#DB_CONNECTION=mysql
#DB_HOST=localhost
#DB_PORT=3306
#DB_DATABASE=projeto
#DB_USERNAME=root
#DB_PASSWORD=
#DB_CHARSET=utf8mb4

DB_HOST=db
DB_PORT=3306
DB_DATABASE=projeto
DB_USERNAME=root
DB_PASSWORD=root

APP_DEVELOPER="Pedro Leandro"

EMAIL_SEND=seuemail@email.com
EMAIL_NAME=Pedro
USERNAME_SENDGRID=apikey
PASSWORD_SENDGRID=secret