# IDEs
.idea/
.vscode/

# Dependências
/vendor/

# Variáveis de ambiente
.env

# Logs e cache
/storage
/storage/logs/*
/storage/cache/*
/storage/sessions/*
/storage/uploads/*

# Arquivos do sistema
.DS_Store
Thumbs.db
